* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

.duo-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sections > section {       /* for testing */
    border: 0px;
    border-color: black;
    border-style: dashed;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.duo-logo-button {
    border: 0px;
}

.language-button {
    border: 0px;
    background-color: white;
}

.language-button-text {
    font-size: small;
    color: gray;
}

.intro-section {
    max-width: 100%;
    min-width: 50%;
    max-height: 80vw;
    min-height: 40vw;
    justify-content: center;
    align-items: center;
}

.intro-text-buttons {
    justify-content: center;
    align-items: center;
}

.intro-text {
    text-align: center;
}

.intro-buttons-div {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.intro-buttons {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    margin: 10px;
}

.intro-buttons-started {
    background-color: rgb(88, 204, 2);
    color:white;
}

.intro-buttons-already {
    background-color: white;
    color: rgb(28, 176, 246)
}

.aside-languages {
    max-width: 100%;
    min-width: 40%;
    height: 75px;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    justify-content: center;
}

.languages {
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 50%;
    min-width: 25%;
}

.language-buttons {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    color: rgb(119, 119, 119);
    margin: 5px 7px 5px 10px;
}

.overflow {
    overflow-x: scroll;
  }
  
.overflow::-webkit-scrollbar {
    display: none;
}

.inline-links {
    color: rgb(28, 176, 246);
    text-decoration: none;
}

.fun-fact-titles {
    color: rgb(88, 204, 2);
    font-size: 3vw;
}

.fun-facts {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.fun-fact-articles {
    justify-content: center;
    align-items: center;
    max-width: 50%;
    min-width: 30%;
}

.fun-fact-text {
    color: rgb(119, 119, 119);
}